* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.TagInput {
  background: #fff;
  align-items: flex-end;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin-block: 20px;
  gap: 10px;
  flex-wrap: wrap;
  box-shadow: 4px 4px 20px #0002;
}
.tagName .img {
  width: 100px;
  height: 120px;
  margin-top: 7px;
  border-radius: 7px;
  background: cadetblue;
}
.tagName {
  display: inline-flex;
  background: #ddd;
  height: 30px;
  /* border: 1px solid #000; */
  padding-inline: 10px;
  border-radius: 7px;
  align-items: center;
  font-size: 14px;
}
.tagNameImg {
  height: auto;
  padding-block: 10px;
  flex-direction: column;
}
.multInput {
  border: none;
  width: 200px;
  padding: 0;
  height: 28px;
  outline: none;
  padding-top: 1.5px;
  font-size: 14px;
  flex: 1;
}

.svg {
  margin-left: 5px;
  background-color: #fff0;
  width: 16px;
  height: 16px;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  fill: #000;
}
.svg:hover {
  background: #0002;
}
